.signupForm {
  border-radius: 22px;
  background: var(--neutrals-04, #9E9E9E);
}
.signup {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}
.toggleText {
  color: #fff;
}
.toggleSignin {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}
.signupButton {
  margin-top: 3rem;
}
.phoneInput input:first-child {
  width: 32px;
}
.phoneInput input:nth-child(2) {
  width: 50px;
}
