.Rectangle16 {
  position: relative;
  padding: 7rem 6rem 4rem 6rem;
}
.Start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footerLogo div {
  color: var(--primary-purple-heart, #5f22d9);
  font-size: 32px;
  font-style: normal;
  letter-spacing: 0.96px;
}
.footerLogo div:nth-child(1) {
  font-weight: 600;
}
.border {
  font-weight: 400;
}
.footerInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
  align-self: stretch;
}
.Info .description {
  color: var(--neutrals-scorpion, #5b5b5b);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 185%; /* 33.3px */
  width: 302px;
}
.Info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mainText {
  color: var(--neutrals-scorpion, #5b5b5b);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.84px;
}
.otherNavItems {
  color: var(--neutrals-scorpion, #5b5b5b);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 182.5%;
  letter-spacing: 0.72px;
}
.footerIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin-bottom: 45px;
}
.have-a-question {
  color: var(--neutrals-scorpion, #5b5b5b);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.5%;
  letter-spacing: 0.48px;
}
.emailForm {
  height: 50px;
  width: 520px;
  flex-shrink: 0;
  padding: 0 10px 0 20px;
  margin-top: 20px;
  border-radius: 46px;
  background: var(--neutrals-dusty-grey, #9c9c9c);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.emailForm input {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.5%;
  letter-spacing: 0.48px;
  width: 222px;
  height: 30px;
  border: none;
  background: none;
}
::placeholder {
  color: #fff;
}
.emailForm button {
  width: 88px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 31px;
  background: var(--primary-purple-heart, #5f22d9);
  border: none;
  color: var(--base-white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 182.5%;
  letter-spacing: 0.48px;
}
.line {
  height: 2px;
  background: #5f22d9;
  margin: 50px 0 30px 0;
}
.End {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--neutrals-scorpion, #5b5b5b);
  font-size: 18px;
  font-weight: 500;
  line-height: 182.5%;
  letter-spacing: 0.54px;
}
.terms-privacy {
  display: flex;
  align-items: center;
  gap: 5px;
}
